.subText {
  /* color: #f2f4f4;*/
  color: #8d959d;
  font-size: 45px !important;
}
.featureHeading {
  word-spacing: 4px;
  margin-bottom: 4rem;
  font-size: 45px;
}

.featureSection {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 0px !important;
  border-radius: 8px;
}

.card-img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.featureCard {
  width: 27.5rem;
  padding: 20px;
  border-radius: 0;
}
